body {
    background:url( '../img/hero.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
   

    
}


#section-top{
    background: rgb(240,239,241);
background: linear-gradient(0deg, rgba(240,239,241,0.8155462013907125) 4%, rgba(111,66,193,1) 100%); 
border-radius: 10px;
}


#footer{
    border-radius: 10px 20px 30px 50px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#card:hover .image {
  opacity: 0.3;
}

#card:hover .middle {
  opacity: 1;
}

.text {
  
  
  font-size: 16px;
  padding: 16px 32px;
}


#card-contact {
  border-radius: 10px;
}


.shadows{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25) , 0 10px 10px rgba(0,0,0,0.22); 
}
